@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url('../assets/fonts/Poppins-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../assets/fonts/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'Poppins';

  --clr-bg-primary: hsl(0, 0%, 100%);
  --clr-bg-secondary: hsl(0, 0%, 94%);
  --clr-font-primary: hsl(0, 0%, 8%);
  --clr-font-secondary: hsl(259, 100%, 65%);
  --clr-font-label: hsl(0, 1%, 44%);
  --clr-font-placeholder: hsl(0, 1%, 44%);
  --clr-bg-button-primary: hsl(259, 100%, 65%);
  --clr-bg-button-secondary: hsl(0, 0%, 8%);
  --clr-divider: hsl(0, 0%, 86%);
  --clr-border-primary: hsl(0, 1%, 44%);
  --clr-border-secondary: hsl(259, 100%, 65%);
  --clr-invalid: hsl(0, 100%, 67%);
  --clr-bg-emptyPlug: hsl(259, 100%, 65%);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}